<h1> Welome to Go Fish </h1>
<p> Who is playing? </p>
<form action='/start_game'>
    <label> Players (seperate with ,) </label>
    <input type="text" id="players" name="players_raw" rows="4" value="Simon, John">
    <input type="submit" value="Start Game">
</form>