<h1> Welome to Go Fish </h1>
<p> Who is playing? </p>
<form action='/'>
    <label> Players (seperate with ,) </label>
    <textarea id="players" name="players_raw" rows="4" disabled>
Simon, John
    </textarea>
    <input type="submit" value="Start Game">
</form>